<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"> 
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>

<nav class="navbar navbar-expand-md bg-white sticky-top px-0 py-0">
  <div class="container-md d-flex justify-content-center justify-content-md-between position-relative">
    <h1><a class="navbar-logo" href="./index.html">PETPET</a></h1>
    <button class="navbar-icon navbar-toggler position-absolute" type="button" data-toggle="collapse" data-target="#navbarContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <div>
        <span class="toggler-bar toggler-bar-top"></span>
        <span class="toggler-bar toggler-bar-middle"></span>
        <span class="toggler-bar toggler-bar-bottom"></span>
      </div>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-md-9">
          <a class="nav-link h5 text-center text-success font-weight-bolder py-5 py-md-6" href="./detail.html">預約服務</a>
        </li>
        <li class="nav-item mr-md-9">
          <a class="nav-link h5 text-center text-success font-weight-bolder py-5 py-md-6" href="./service.html">寵物寄宿推薦</a>
        </li>
        <% if (current =='index'){%>
          <%- include('layout/login.ejs') %>
        <% }else{ %>
          <%- include('layout/member.ejs') %>
        <% }%>
      </ul>
    </div>
  </div>
</nav>

<%- contents %>

<% if (footer) { %>
  <%- include('layout/footer.ejs'); %>
<% } %>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
